*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;

  @include media-max-mobile {
    font-size: 12px;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.page__body {
  display: grid;
  grid-template-rows: min-content auto min-content;
  grid-template-columns: 100%;

  min-height: 100vh;
  min-width: $mobile-width;
  max-width: 100%;

  @include font(1rem, 160%);
  font-family: $font-family--lato;
  color: $color-gray--800;

  &--lock {
    overflow: hidden;
  }
}

.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 1.25rem;

  @include media-max-tablet {
    max-width: 900px;
  }
}

.section-heading {
  &__title {
    @include font(2.875rem, 130%, 900);
    color: $color-gray--900;
  }

  &__subtitle {
    margin-bottom: 0.5rem;

    @include font(1rem, 150%, 700);
    text-transform: uppercase;
    color: $color-gray--900;
  }
}
