*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: $font-family--lato;
  @include font(1rem, 160%);
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
