*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;

  @include media-max-mobile {
    font-size: 12px;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  border: 0;
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.page__body {
  display: grid;
  grid-template-rows: min-content auto min-content;
  grid-template-columns: 100%;

  min-height: 100vh;
  min-width: $mobile-width;
  max-width: 100%;

  @include font(1rem, 160%);
  font-family: $font-family--lato;
  color: $color-gray--800;

  &--lock {
    overflow: hidden;
  }
}

.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 1.25rem;

  @include media-max-tablet {
    max-width: 900px;
  }
}

.section-heading {
  letter-spacing: 1px;
  color: $color-gray--900;

  &__title {
    margin: 0;
    @include font(2.875rem, 130%, 900);
  }

  &__subtitle {
    margin-bottom: 0.5rem;

    @include font(1rem, 150%, 700);
    text-transform: uppercase;
  }
}
