.animated-control {
  position: relative;

  &--subscribe {
    & .animated-control__input {

      &:focus~.animated-control__label,
      &:not(:placeholder-shown)~.animated-control__label {
        span {
          color: $color-gray--800;

          transform: translateY(-3rem);
        }
      }
    }

    & .animated-control__label {
      top: 0.813rem;
      left: 1rem;
    }
  }

  &--footer {
    & .animated-control__input {

      &:focus~.animated-control__label,
      &:not(:placeholder-shown)~.animated-control__label {
        span {
          opacity: 1;

          transform: translateY(-2rem);
        }
      }
    }

    & .animated-control__label {
      top: 0.563rem;
      left: 0.75rem;

      & span {
        opacity: 0.6;
      }
    }
  }
}

.animated-control__label {
  position: absolute;

  pointer-events: none;

  & span {
    display: inline-block;
    white-space: pre-wrap;

    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
}
