.button {
  @include reset-btn;
  
  font-family: $font-family--lato;
  letter-spacing: 0.5px;
  white-space: nowrap;

  border-radius: 0.25rem;
  transition: color .3s ease;

  &--animated {
    position: relative;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: rotate(45deg) translateX(0rem) translateY(8rem);
      background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255, 255, 255, 0.5) 50%, rgba(229, 172, 142, 0));
    }

    &:hover::after,
    &:focus::after {
      animation: sheen 1s ease-in;
    }
  }

  &--size {

    &-large {
      padding: 0 2.5rem;
      @include font(1rem, 3.25rem, 700);
    }

    &-regular {
      padding: 0 2rem;
      @include font(0.875rem, 2.75rem, 700);
    }

    &-small {
      padding: 0 1.5rem;
      @include font(0.75rem, 2.25rem, 700);
    }
  }

  &--color {

    &-gradient {
      color: $color-white;
      border: 1px solid $color-primary;

      background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);

      transition: box-shadow .4s ease-out, color .3s ease-out;

      &:hover,
      &:focus {
        color: $color-primary;
        background: transparent;
        box-shadow: 0 0 4px 0 #FF3F3A inset, 0 0 4px 1px #FF3F3A;
      }
    }

    &-transparent {
      color: $color-primary;
      border: 1px solid $color-primary;

      background-image: linear-gradient(45deg, #FF3F3A 0%, #F75E05 25%, transparent 50%);
      background-position: 100%;
      background-size: 400%;

      transition: background .4s ease-out, color .3s ease-out;

      &:hover,
      &:focus {
        color: $color-white;
        background-position: 0;
      }
    }
  }
}

@keyframes sheen {
  100% {
    transform: rotate(45deg) translateX(1rem) translateY(-8rem);
  }
}
