.course-direction {
  display: inline-block;
  padding: 0.1rem 0.5rem;
  margin-bottom: 1.25rem;

  @include font(0.875rem, 150%, 400);
  color: $color-white;

  background-color: $color-secondary;
  border-radius: 0.25rem;

  &--marketing {
    background-color: $color-mint;
  }

  &--recruting {
    background-color: $color-orange;
  }

  &--management {
    background-color: $color-blue;
  }

  &--design {
    background-color: $color-pink;
  }

  &--development {
    background-color: $color-purple;
  }
}
