.event-sidebar {
  display: flex;
  flex-direction: column;
  max-width: 495px;
  padding: 2.5rem 2rem;

  background: $color-white;
  border: 1px solid $color-gray--300;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;

  @include media-max-mobile {
    margin: 0 auto;
  }
}

.event-sidebar__list {
  list-style: none;
}

.event-sidebar__item {
  margin-bottom: 2rem;

  &:last-child {
    margin-bottom: 2.5rem;
  }
}

.event-sidebar__title {
  margin-bottom: 0.25rem;
  @include font(0.875rem, 150%, 700);
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $color-gray--900;
}

.event-sidebar__details {
  margin-bottom: 0.5rem;
  @include font(1.5rem, 130%, 700);
  color: $color-primary;
}

.event-sidebar__desc {
  @include font(1rem, 160%, 400);
  color: $color-gray--700;
}

.event-sidebar__link {
  text-transform: uppercase;
  letter-spacing: 1px;
  @include font(0.875rem, 150%, 700);
  color: $color-primary;
}

.event-sidebar__button {
  margin-top: auto;
}
