.event-card {
  display: grid;
  grid-template-columns: min-content auto min-content;
  align-items: flex-start;
  gap: 2.5rem;

  padding: 2rem 2.5rem;
  background-color: $color-white;
  border-radius: 4px;

  transition: box-shadow .4s ease-out;

  &:hover {
    box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.16), 0px 30px 24px -10px rgba(255, 63, 58, 0.1), 0px 12px 10px -6px rgba(255, 63, 58, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
  }

  @include media-max-mobile {
    grid-template-columns: none;
    grid-template-rows: min-content auto min-content;
  }
}

.event-card__data {
  display: flex;
  align-items: center;

  min-width: 11.5rem;
}

.event-card__day {
  margin-right: 1.25rem;

  @include font(3rem, 130%, 900);
  color: $color-primary;
}

.event-card__month,
.event-card__info {
  display: flex;
  flex-direction: column;
  text-align: left;

  @include font(1.25rem, 150%, 700);
  color: $color-gray--900;
}

.event-card__time,
.event-card__desc {
  padding-top: 0.25rem;

  @include font(1rem, 160%, 400);
  color: $color-gray--700;
}

.event-card__button {
  display: inline-block;
  margin-left: auto;

  text-decoration: none;

  @include media-max-mobile {
    margin-left: 0;
  }
}
