.form-sign-up {
  max-width: 17.875rem;

  @include media-max-mobile {
    max-width: 20.5rem;
  }
}

.form-sign-up__title {
  margin-bottom: 1.5rem;
}

.form-sign-up__control {
  margin-bottom: 0.75rem;
}

.form-sign-up__input {
  width: 100%;
  padding: 0.55rem 0.75rem;

  @include font(0.75rem, 150%, 400);
  color: $color-white;

  background-color: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

.form-sign-up__label {
  @include font(0.75rem, 150%, 400);
  color: $color-white;
}

.form-sign-up__button {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  align-items: center;
  height: 100%;
  
  padding: 0.4rem 0.9rem;
  color: $color-white;

  transform: scale(-1, 1);

  & svg {
    fill: currentColor;
  }
}

.form-sign-up__text {
  @include font(0.625rem, 150%, 400);
  color: $color-white;

  opacity: 0.6;
}
