.social {
  max-width: 17.5rem;

  @include media-max-mobile {
    max-width: 20.5rem;
  }
}

.social-logo {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;

  margin-bottom: 1.5rem;
}

.social-logo__icon {
  margin-right: 0.2rem;

  fill: $color-white;
}

.social__text {
  margin-bottom: 2.375rem;

  @include font(0.75rem, 150%, 400);
  color: $color-white;

  opacity: 0.6;
}

.social__list {
  list-style: none;
  display: flex;
}

.social__item {
  &:not(:last-child) {
    margin-right: 1rem;
  }
}
