.subscribe {
  position: relative;

  .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 7.125rem;

    @include media-max-tablet {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
  }

  &--background {
    &-pink {
      & .container {
        padding: 3.75rem 6.563rem;

        background: rgba(255, 63, 58, 0.2);
        background: linear-gradient(55deg, rgba(255, 63, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);

        @include media-max-tablet {
          padding: 4rem;
        }

        @include media-max-mobile {
          padding: 1.25rem;
        }
      }

      .subscribe__illustration {
        min-width: 308px;
        min-height: 234px;


        @include media-max-tablet {
          min-width: auto;
          min-height: auto;
          margin: 0 auto;
        }
      }
    }

    &-gray {
      background-color: $color-gray--200;

      & .container {
        align-items: center;
      }

      .subscribe__illustration {
        min-width: 507px;
        min-height: 454px;

        @include media-max-tablet {
          min-width: auto;
          min-height: auto;
          margin: 0 auto;
        }
      }

      .subscribe__content {
        padding: 1rem 0;

        @include media-max-tablet {
          padding: 4rem;
        }

        @include media-max-mobile {
          padding: 1.25rem;
        }
      }
    }
  }
}

.subscribe__heading {
  margin-bottom: 3rem;
}

.subscribe__title {
  font-size: 2rem;
}

.form-subscribe {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.form-subscribe__control {
  flex-direction: row;
  width: 70%;

  @include media-max-mobile {
    width: 100%;
  }
}

.form-subscribe__label {
  margin: 0;
  @include font(1rem, 160%, 400);
  color: $color-gray--600;
}

.form-subscribe__input {
  width: 100%;
  padding: 0.813rem 1rem;

  @include font(1rem, 160%, 400);
}
