.about {
  padding-top: 7.5rem;
  margin-bottom: 11.25rem;

  @include media-max-mobile {
    margin-bottom: 8rem;
  }

  & .container {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 8.438rem;

    @include media-max-tablet {
      gap: 1rem;
    }

    @include media-max-mobile {
      grid-template-columns: 1fr;
      gap: 4rem;
    }
  }
}

.about__title {
  margin-bottom: 2.5rem;

  @include font(2.875rem, 130%, 900);
  color: $color-gray--900;
}

.about__desc {
  margin-bottom: 3rem;

  @include font(1rem, 160%, 400);
  color: $color-gray--800;
}

.about__subtitle {
  margin-bottom: 2.5rem;

  @include font(1.75rem, 150%, 700);
  color: $color-gray--900;
}

.event {
  display: flex;
  flex-direction: column;
  max-width: 495px;
  padding: 2.5rem 2rem;

  background: $color-white;
  border: 1px solid $color-gray--300;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;

  @include media-max-mobile {
    margin: 0 auto;
  }
}

.event__list {
  list-style: none;
}

.event__item {
  margin-bottom: 2rem;

  &:last-child {
    margin-bottom: 2.5rem;
  }
}

.event__title {
  margin-bottom: 0.25rem;
  @include font(0.875rem, 150%, 700);
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $color-gray--900;
}

.event__details {
  margin-bottom: 0.5rem;
  @include font(1.5rem, 130%, 700);
  color: $color-primary;
}

.event__desc {
  @include font(1rem, 160%, 400);
  color: $color-gray--700;
}

.event__button {
  margin-top: auto;
}
