.for-whom {
  margin-bottom: 8rem;

  & .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8.438rem;

    @include media-max-tablet {
      gap: 4rem;
    }
  }
}

.for-whom__heading {
  flex-basis: 40%;
  @include media-max-tablet {
    flex-basis: auto;
  }
}

.for-whom__list {
  max-width: 37.5rem;

  padding-top: 2rem;
}

.for-whom__item {
  @include font(1.25rem, 150%, 700);
  hyphens: none;

  &:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
