.program {
  margin-bottom: 7.5rem;

  & .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8.438rem;
    align-items: flex-start;

    @include media-max-tablet {
      grid-template-columns: 1fr;
      gap: 5rem;
    }
  }
}

.program__content {
  min-width: 37.5rem;

  @include media-max-tablet {
    min-width: auto;
  }
}

.program__heading {
  margin-bottom: 3.75rem;
}

.program__list {
  list-style: none;
}

.program__item {
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

.program__illustration {
  min-width: 495px;
  min-height: 554px;

  padding-top: 4.375rem;

  @include media-max-tablet {
    min-width: auto;
    min-height: auto;

    margin: 0 auto;
    padding-top: 0;
  }
}
