.steps {
  margin-bottom: 11.25rem;

  @include media-max-tablet {
    margin-bottom: 8rem;
  }
}

.steps__heading {
  text-align: center;
  margin-bottom: 3.75rem;
}

.steps__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.875rem;

  list-style: none;
}

.steps__item {
  max-width: 17.813rem;
}

.step {

  &:hover {
    .step__number {
      color: $color-primary;

      background-color: rgb(255 63 58 / 12%);
      box-shadow: 0rem 0rem 0rem 1rem rgb(255 63 58 / 12%);

      &::before {
        opacity: 1;
      }
    }
  }
}

.step__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 1rem;
}

.step__number {
  position: relative;

  margin-right: 1.375rem;

  @include font(2.875rem, 120%, 900);
  color: $color-gray--400;

  border-radius: 50%;
  transition: color .4s ease-out, background-color .2s ease-out, box-shadow .2s ease-out;

  &::before {
    content: "";

    position: absolute;
    top: -1rem;
    left: -1rem;
    z-index: -2;

    width: calc(100% + 2rem);
    height: calc(100% + 2rem);

    opacity: 0;
    border-radius: 50%;
    box-shadow: 0rem 0rem 0rem 1rem rgba(255 63 58 / 6%);
    transition: opacity .4s ease-out;
  }
}

.step__line {
  width: 100%;
  border-bottom: 1px dashed $color-gray--400;
}

.step__title {
  margin-bottom: 0.5rem;

  @include font(1.25rem, 150%, 700);
  color: $color-gray--900;
}

.step__text {
  @include font(1rem, 160%, 400);
  color: $color-gray--700;
}
