.contacts {
  padding-top: 3.75rem;
  margin-bottom: 11.25rem;

  @include media-max-tablet {
    margin-bottom: 6rem;
  }

  & .container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    @include media-max-tablet {
      flex-wrap: wrap;

      gap: 4rem;
    }
  }
}

.contacts__heading {
  margin-bottom: 2.5rem;
}

.contacts__list {
  margin-bottom: 3rem;

  list-style: none;
}

.contacts__item {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

.contacts__icon {
  position: absolute;
  top: 0;
  left: 0;

  fill: $color-primary;
}

.contacts__desc {
  display: inline-flex;
  flex-direction: column;

  padding-left: 2.188rem;

  @include font(0.875rem, 150%, 700);
  color: $color-gray--700;
}

.contacts__link {
  text-decoration: none;
  @include font(1.125rem, 150%, 400);
  color: $color-gray--900;
}

.follow-us__title {
  margin-bottom: 1.5rem;

  text-transform: uppercase;
  @include font(1rem, 150%, 700);
  color: $color-gray--900;
}

.follow-us__list {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
}

.follow-us__item {
  &:not(:last-child) {
    margin-right: 2rem;
  }
}

.follow-us__icon {
  fill: $color-gray--700;
}

.contacts__map {
  max-width: 100%;
  
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;

  @include media-max-tablet {
    width: 100%;
  }
}
