.feedback {
  margin-bottom: 11.25rem;

  @include media-max-tablet {
    margin-bottom: 4rem;
  }

  & .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 6.563rem;
    align-items: center;

    @include media-max-tablet {
      grid-template-columns: 1fr;
      gap: 3rem;
    }
  }
}

.feedback__illustration {
  min-width: 435px;
  min-height: 481px;

  @include media-max-tablet {
    min-width: auto;
    min-height: auto;

    margin: 0 auto;
  }
}

.feedback__heading {
  margin-bottom: 2.5rem;
}

.form-feedback {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include media-max-mobile {
    flex-direction: column;
  }
}

.form-feedback__control {
  margin-bottom: 1.5rem;
  width: 48%;

  @include media-max-mobile {
    width: 100%;
  }

  &--textarea {
    margin-bottom: 2.5rem;
    width: 100%;
  }
}

.form__textarea {
  min-height: 3rem;
  max-height: 20rem;
  height: 8rem;
  resize: vertical;
}

.form__checkbox-control,
.form-feedback__button {
  width: 48%;

  @include media-max-mobile {
    width: 100%;
  }
}

.form__checkbox-label {
  align-items: baseline;
}

.form__checkbox-control {
  @include media-max-mobile {
    margin-bottom: 1.5rem;
  }
}
