.page-footer {
  background-color: $color-gray--900;
}

.page-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;

  padding: 5rem 0 3.4rem;

  @include media-max-tablet {
    gap: 3rem;
  }
}

.page-footer__section {
  flex-shrink: 0;
}

.page-footer__title {
  margin-bottom: 0.75rem;

  text-transform: uppercase;
  @include font(1rem, 150%, 700);
  letter-spacing: 1px;
  color: $color-white;
}

.page-footer__list {
  display: flex;
  flex-direction: column;

  list-style: none;
}

.page-footer__item {
  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.page-footer__link {
  display: flex;
  align-items: center;
  text-decoration: none;

  @include font(1rem, 160%, 400);
  color: $color-white;
  opacity: 0.6;

  transition: opacity .3s ease-out;

  &:hover,
  &:focus {
    opacity: 1;
  }

  & svg {
    margin-right: 0.5rem;

    fill: currentColor;
  }
}
