.post {
  padding-top: 3.75rem;
  margin-bottom: 7.5rem;

  @include media-max-tablet {
    margin-bottom: 4rem;
  }

  & .container {
    display: flex;
    justify-content: space-between;
    gap: 4.875rem;

    @include media-max-tablet {
      flex-wrap: wrap;
    }
  }
}
