.sidebar {
  min-width: 21.375rem;
}

.sidebar__title {
  margin-bottom: 1.5rem;

  @include font(1rem, 150%, 700);
  text-transform: uppercase;
  color: $color-gray--900;
}

.sidebar__section {
  &:not(:last-child) {
    margin-bottom: 3.75rem;
  }
}
