.trending-articles__list {
  list-style: none;
}

.trending-articles__item {
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

.trending-articles__link {
  display: flex;
  gap: 1.25rem;

  text-decoration: none;

  &:hover {
    .trending-articles__title {
      color: $color-primary;
    }
  }
}

.trending-articles__img {
  object-fit: cover;
}

.trending-articles__date {

  display: inline-flex;
  align-items: center;

  @include font(1rem, 160%, 400);
  color: $color-gray--700;

  & svg {
    margin-right: 0.5rem;
    fill: currentColor;
  }

}

.trending-articles__title {
  @include font(1rem, 160%, 700);
  color: $color-gray--900;

  transition: color .4s ease-out;
}
