.about {
  position: relative;
  overflow: hidden;

  padding-top: 11.25rem;
  margin-bottom: 10.25rem;

  &::before,
  &::after {
    content: "";
    
    position: absolute;
    z-index: -1;

    background-repeat: no-repeat;
    background-size: contain;
  }

  &::before {
    top: 15rem;
    left: -5.6rem;

    width: 11.313rem;
    height: 8.25rem;

    transform: rotate(-52deg);

    background-image: url("~images/index/about/dots-yellow.svg");
    opacity: 0.8;
  }

  &::after {
    right: -9rem;
    bottom: 0;

    width: 17.938rem;
    height: 17.938rem;

    background-image: url("~images/index/about/circles-yellow.svg");
    opacity: 0.12;
  }

  & .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8.438rem;

    @include media-max-tablet {
      grid-template-columns: 1fr;
      gap: 5rem;
    }
  }

  @include media-max-tablet {
    padding-top: 7rem;
    margin-bottom: 6rem;
  }

  @include media-max-mobile {
    padding-top: 5rem;
    margin-bottom: 4rem;
  }
}

.about__image {
  min-width: 705px;
  min-height: 560px;

  @include media-max-tablet {
    min-width: auto;
    min-height: auto;
    margin: 0 auto;
  }
}

.about__content {

  @include media-max-tablet {
    margin: 0 auto;
  }
}

.about__title {
  margin-bottom: 2.5rem;
}

.about__list {
  margin-bottom: 3rem;

  list-style: none;
}

.about__item {
  position: relative;
  padding-left: 2rem;

  &::before {
    content: "";

    position: absolute;
    top: 0.3rem;
    left: 0;

    width: 1rem;
    height: 1rem;
    margin-right: 1rem;

    background-image: url("~images/index/about/done.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.about__link {
  display: inline-block;
  margin-bottom: 1rem;

  text-decoration: none;
}
