.blog {
  padding-top: 8rem;
  margin-bottom: 11.25rem;

  @include media-max-tablet {
    margin-bottom: 5rem;
  }
}

.blog__heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 3.6rem;
}

.blog__subtitle {
  flex-basis: 100%;
}

.blog__button {
  display: inline-block;
  text-decoration: none;
}

.blog__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.875rem;

  list-style: none;
}

.blog__item {
  max-width: 390px;
}
