.courses {
  margin-bottom: 11.25rem;
}

.courses__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 3.688rem;
}

.courses__subtitle,
.courses__title {
  margin-bottom: 0.5rem;
  color: $color-gray--900;
}

.courses__subtitle {
  flex-basis: 100%;

  @include font(1rem, 150%, 700);
  text-transform: uppercase;
}

.courses__title {
  @include font(2.875rem, 130%, 900);
}

.courses__link {
  display: inline-block;

  text-decoration: none;
}

.courses__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.875rem;

  list-style: none;

  @include media-max-tablet {
    grid-template-columns: 1fr;
  }
}

.courses-card {
  display: flex;
  align-items: flex-start;
}

.courses-card__content {
  padding: 2rem;
  padding-bottom: 1.25rem;
}

.courses-card__profession {
  display: inline-block;
  padding: 0.063rem 0.5rem;
  margin-bottom: 1.25rem;

  @include font(0.875rem, 150%, 400);
  color: $color-white;

  border-radius: 0.25rem;

  &--color-mint {
    background-color: $color-mint;
  }

  &--color-orange {
    background-color: $color-orange;
  }

  &--color-blue {
    background-color: $color-blue;
  }

  &--color-pink {
    background-color: $color-pink;
  }
}

.courses-card__title {
  margin-bottom: 1.25rem;

  @include font(1.25rem, 150%, 700);
  color: $color-gray--900;
}

.courses-card__price {
  @include font(1.125rem, 150%, 700);
  color: $color-red;
}

.courses-card__author {
  @include font(1.125rem, 150%, 400);
  color: $color-gray--700;
}