.courses {
  margin-bottom: 11.25rem;

  @include media-max-tablet {
    margin-bottom: 7rem;
  }

  @include media-max-mobile {
    margin-bottom: 5rem;
  }
}

.courses__heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 3.688rem;
}

.courses__subtitle {
  flex-basis: 100%;
}

.courses__button {
  text-decoration: none;
}

.courses__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.875rem;

  list-style: none;

  @include media-max-tablet {
    grid-template-columns: 1fr;
  }

  @include media-max-mobile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.courses__link {
  text-decoration: none;
}
