.courses {
  margin-bottom: 11.25rem;

  @include media-max-tablet {
    margin-bottom: 7rem;
  }

  @include media-max-mobile {
    margin-bottom: 5rem;
  }
}

.courses__heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 3.688rem;
}

.courses__subtitle {
  flex-basis: 100%;
}

.courses__link {
  display: inline-block;

  text-decoration: none;
}

.courses__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.875rem;

  list-style: none;

  @include media-max-tablet {
    grid-template-columns: 1fr;
  }

  @include media-max-mobile {
    grid-template-columns: 1fr;
  }
}

.courses__item {
  @include media-max-mobile {
    min-width: 290px;
    width: 50vw;

    margin: 0 auto;
  }
}

.courses-card {
  display: flex;
  align-items: flex-start;

  background-color: $color-white;
  border: 1px solid #E5E8ED;
  border-radius: 4px;

  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);

  transition: box-shadow .3s ease-out;

  &:hover {
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
  }

  @include media-max-mobile {
    flex-direction: column;
    align-items: center;

    padding-top: 1.25rem;
  }
}

.courses-card__content {
  padding: 2rem;
  padding-bottom: 1.25rem;
}

.courses-card__profession {
  display: inline-block;
  padding: 0.063rem 0.5rem;
  margin-bottom: 1.25rem;

  @include font(0.875rem, 150%, 400);
  color: $color-white;

  border-radius: 0.25rem;

  &--color-mint {
    background-color: $color-mint;
  }

  &--color-orange {
    background-color: $color-orange;
  }

  &--color-blue {
    background-color: $color-blue;
  }

  &--color-pink {
    background-color: $color-pink;
  }
}

.courses-card__title {
  margin-bottom: 1.25rem;

  @include font(1.25rem, 150%, 700);
  color: $color-gray--900;
}

.courses-card__price {
  @include font(1.125rem, 150%, 700);
  color: $color-red;
}

.courses-card__author {
  @include font(1.125rem, 150%, 400);
  color: $color-gray--700;
}
