.info {
  padding-top: 8rem;
  margin-bottom: 5rem;

  @include media-max-tablet {
    padding-top: 7rem;
  }

  @include media-max-mobile {
    padding-top: 4rem;
  }
}

.info__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 11.25rem;
  align-items: center;

  margin-bottom: 11.875rem;

  @include media-max-tablet {
    grid-template-columns: 1fr;
    gap: 5rem;

    margin-bottom: 4rem;
  }
}

.info__content {
  position: relative;

  &::after {
    content: "";

    position: absolute;
    right: 0;
    bottom: -8.4rem;
    z-index: -1;

    width: 3.813rem;
    height: 3.813rem;

    background-image: url("~images/index/common/half-circle-white.svg");
    background-repeat: no-repeat;
    background-size: contain;

    opacity: 0.3;

    @include media-max-tablet {
      right: auto;
      bottom: -6rem;
      left: 8rem;
    }
  }
}

.info__play-video {
  display: inline-flex;
  align-items: center;

  margin-bottom: 2.5rem;

  @include font(0.875rem, 150%, 700);
  color: $color-gray--900;

  &::before {
    content: "";

    display: inline-block;
    width: 3.25rem;
    height: 3.25rem;

    margin-right: 1.063rem;

    background-color: $color-primary;
    background-image: url("~images/index/info/play-icon.svg");
    background-repeat: no-repeat;
    background-position: 55% center;

    border-radius: 50%;
    transition: box-shadow .3s ease-in;
  }

  &:hover::before {
    box-shadow: 0rem 0rem 0rem 1rem rgba(255, 63, 58, 0.2);
  }
}

.info__title {
  position: relative;

  margin: 0;
  margin-bottom: 3.75rem;

  @include font(4rem, 130%, 900);
  letter-spacing: 1px;
  color: $color-gray--900;

  &::after {
    content: "";

    position: absolute;
    right: -4rem;
    bottom: 2.6rem;
    z-index: -1;

    width: 5.5rem;
    height: 2.75rem;

    background-image: url("~images/index/common/bold-arrows-white.svg");
    background-repeat: no-repeat;
    background-size: contain;

    opacity: 0.3;

    @include media-max-tablet {
      right: 8rem;
      bottom: -1rem;
    }
  }

  @include media-max-tablet {
    text-align: center;
  }

  @include media-max-mobile {
    font-size: 3rem;
  }
}

.info__links {
  @include media-max-tablet {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.info__link {
  display: inline-block;

  text-decoration: none;

  &:first-child {
    margin-right: 1.5rem;
  }
}

.info__illustration {
  min-width: 600px;
  min-height: 550px;

  @include media-max-tablet {
    min-width: auto;
    min-height: auto;
    margin: 0 auto;
  }
}

.statistics__list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  list-style: none;

  @include media-max-tablet {
    flex-direction: column;
  }
}

.statistics__item {
  display: flex;
  align-items: center;

  color: $color-gray--900;

  &--dot {
    width: 0.5rem;
    height: 0.5rem;

    background-color: $color-primary;
    border-radius: 100%;
  }

  b {
    margin-right: 0.75rem;

    @include font(2.875rem, 130%, 900);
  }
}
