.team {
  position: relative;
  overflow: hidden;
  
  padding-top: 10.375rem;

  background-color: $color-gray--200;

  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: 0;

    background-repeat: no-repeat;
    background-size: contain;
  }

  &::before {
    top: 5rem;
    left: 5rem;

    width: 2.563rem;
    height: 2.563rem;

    background-image: url("~images/common/decor/half-circle-white.svg");
    opacity: 0.6;
  }

  &::after {
    top: 33rem;
    right: -1rem;

    width: 6rem;
    height: 6rem;

    transform: rotate(-135deg);

    background-image: url("~images/common/decor/arrows-white.svg");
    opacity: 0.6;
  }

  & .container {
    position: relative;
    z-index: 1;

    &::before {
      content: "";

      position: absolute;
      top: -8rem;
      right: 8rem;
      z-index: -1;

      width: 8.938rem;
      height: 6.563rem;

      background-image: url("~images/common/decor/dots-white.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.team__heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 3rem;
}

.team__subtitle {
  flex-basis: 100%;
}

.team__buttons {
  display: flex;
  align-items: center;
}

.team__swiper {
  max-width: 100%;
}

.team__list {
  list-style: none;
}
