.navbar__account {
  margin-left: auto;

  @include media-max-mobile {
    margin-left: 0;
    padding-top: 2rem;
  }
}

.account {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;

  @include media-max-mobile {
    flex-basis: 100%;
    justify-content: space-between;
  }
}

.account__inner {
  display: flex;
  align-items: center;
  padding-left: 2.5rem;
}

.account__icon {
  margin-right: 0.5rem;
  fill: currentColor;
}

.account__button {
  padding: 0.5rem 0;

  @include font(1rem, 160%, 700);
  color: $color-gray--800;

  transition: color .3s ease-out;

  &:hover,
  &:focus {
    color: $color-primary;
  }
}

.account__slash {
  padding: 0 0.1rem;
}
