.intro {
  padding-top: 4.063rem;
  margin-bottom: 11.25rem;

  @include media-max-tablet {
    margin-bottom: 5rem;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 11.25rem;
    align-items: center;

    margin-bottom: 11.875rem;

    @include media-max-tablet {
      grid-template-columns: 1fr;
      gap: 5rem;

      margin-bottom: 4rem;
    }
  }
}

.intro__heading {
  margin-bottom: 3rem;
}

.intro__caption {
  margin-bottom: 1.5rem;

  @include font(1.25rem, 150%, 700);
  color: $color-gray--900;
}

.intro__desc {
  margin-bottom: 3.75rem;

  @include font(1rem, 160%, 400);
  color: $color-gray--800;
}

.intro__link {
  display: inline-block;

  text-decoration: none;

  &:first-child {
    margin-right: 1.5rem;
  }
}

.intro__illustration {
  min-width: 465px;
  min-height: 400px;

  @include media-max-tablet {
    min-width: auto;
    min-height: auto;
    margin: 0 auto;
  }
}
