.team {
  margin-bottom: 7.5rem;

  @include media-max-tablet {
    margin-bottom: 4rem;
  }
}

.team__heading {
  margin-bottom: 3.75rem;

  text-align: center;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.875rem;
  justify-content: center;

  list-style: none;
}

.team__item {
  width: 17.813rem;
}
