.events {
  margin-bottom: 11.25rem;

  @include media-max-tablet {
    margin-bottom: 5rem;
  }
}

.events__heading {
  padding-top: 3.75rem;
  margin-bottom: 3.75rem;

  text-align: center;
}

.events__toolbar {
  margin-bottom: 3.75rem;
}

.events__swiper {
  width: 100%;
}

.swiper-wrapper {
  max-width: 100%;
  max-height: 88.875rem;

  @include media-max-tablet {
    max-height: 75.875rem;
  }

  @include media-max-mobile {
    max-height: 80.5rem;
  }
}

.events__list {
  margin-bottom: 2rem;

  &--grid {
    & .event-card {
      grid-template-columns: none;
      grid-template-rows: min-content auto min-content;
      gap: 1.25rem;

      min-height: 23.75rem;

      @include media-max-mobile {
        min-height: 7.875rem;
      }
    }

    & .event-card__data {
      display: grid;
      grid-template-areas:
        "day month"
        "time time";
      grid-template-rows: repeat(2, max-content);
      grid-template-columns: repeat(2, max-content);
      align-items: baseline;
    }

    & .event-card__day {
      margin-right: 0.5rem;
    }

    & .event-card__day,
    & .event-card__month {
      @include font(1.75rem, 150%, 700);
      color: $color-primary;
    }

    & .event-card__button {
      margin-left: 0;
    }
  }
}

.event-card {
  min-height: 7.875rem;

  border: 1px solid $color-gray--300;
  border-radius: 4px;

  &:hover {
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  }
}

.events-swiper__controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

// swiper navigation
.events-swiper__button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 3rem;
  height: 3rem;

  color: $color-gray--800;

  &--next {
    transform: scale(-1, 1);
  }

  &:hover {
    .swiper__icon {
      fill: $color-primary;
    }
  }
}

.swiper__icon {
  fill: currentColor;
  transition: fill .4s ease-out;
}

.swiper-button-disabled {
  opacity: 0;
  cursor: default;
}

// swiper pagination
.events-swiper__pagination {
  &.swiper-pagination-bullets {
    width: auto;
  }
}

.events-swiper__bullet {
  padding: 0.5rem;

  @include font(1rem, 160%, 700);
  color: $color-gray--800;

  transition: color .4s ease-out;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 0.75rem;
  }

  &:hover {
    color: $color-primary;
  }
}

.swiper-pagination-bullet-active {
  color: $color-primary;
  background-color: transparent;
}
