.blog {
  margin-bottom: 11.25rem;

  @include media-max-tablet {
    margin-bottom: 5rem;
  }
}

.blog__heading {
  padding-top: 3.75rem;
  margin-bottom: 3.75rem;
  text-align: center;
}

.blog__sorting {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  
  margin-bottom: 3.625rem;
}

.blog-sorting__button {
  display: inline-flex;
  align-items: baseline;

  padding: 0.625rem 1.25rem;

  @include font(1rem, 160%, 700);
  color: $color-gray--600;

  transition: color .4s ease-out;

  &:hover {
    color: $color-gray--800;
  }

  &--active {
    color: #FF3F3A;
    outline: 1px solid #FF3F3A;

    pointer-events: none;
    cursor: default;
  }

  &:not(:last-child) {
    margin-right: 0.75rem;
  }

  & svg {
    margin-right: 0.625rem;
    
    fill: currentColor;
  }
}

.blog__swiper {
  width: 100%;

  @include media-max-mobile {
    max-width: 24.375rem;
  }
}

.swiper-wrapper {
  max-width: 100%;
  max-height: calc((36.25rem * 3) + (30px * 2));

  @include media-max-tablet {
    max-height: calc((36.25rem * 2) + 30px);
  }

  @include media-max-mobile {
    max-height: calc((42.5rem * 2) + 30px);
  }
}

.blog__list {
  margin-bottom: 5rem;

  list-style: none;
}

.blog__item {
  min-height: 36.25rem;
  max-width: calc((100% - 30px * 2) / 3);

  @include media-max-tablet {
    max-width: calc((100% - 30px) / 2);
  }

  @include media-max-mobile {
    min-height: 42.5rem;
    max-width: 100%;
  }
}

.blog-swiper__controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

// swiper navigation
.blog-swiper__button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 3rem;
  height: 3rem;

  color: $color-gray--800;

  &--next {
    transform: scale(-1, 1);
  }

  &:hover {
    .swiper__icon {
      fill: $color-primary;
    }
  }
}

.swiper-button-disabled {
  opacity: 0;
  cursor: default;
}

.blog-swiper__icon {
  fill: currentColor;
  transition: fill .4s ease-out;
}

// swiper pagination
.blog-swiper__pagination {
  display: flex;
  flex-wrap: wrap;

  &.swiper-pagination-bullets {
    width: auto;
  }
}

.blog-swiper__bullet {
  padding: 0.5rem;

  @include font(1rem, 160%, 700);
  color: $color-gray--800;

  transition: color .4s ease-out;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 0.75rem;
  }

  &:hover {
    color: $color-primary;
  }
}

.swiper-pagination-bullet-active {
  color: $color-primary;
  background-color: transparent;
}
