// Font-family
$font-family--lato: "Lato", sans-serif;

// Colors
$color-white:        #FFFFFF;
$color-gray--200:    #F4F5F7;
$color-gray--400:    #D7DADD;
$color-gray--500:    #B3B7BC;
$color-gray--600:    #9A9CA5;
$color-gray--700:    #787A80;
$color-gray--800:    #424551;
$color-gray--900:    #1E212C;
$color-primary:      #FF3F3A;
$color-secondary:    #FFCF2D;
$color-mint:         #03CEA4;
$color-orange:       #F89828;
$color-blue:         #5A87FC;
$color-pink:         #F52F6E;
$color-red:          #FF4242;
$color-purple:       #7772F1;

// Viewports
$mobile-width: 320px;
$max-mobile-width: 767px;
$tablet-width: 768px;
$max-tablet-width: 1269px;
$desktop-width: 1270px;
