.page-header {
  z-index: 10;

  &--background-gradient {
    background: rgba(255, 63, 58, 0.2);
    background: linear-gradient(55deg, rgba(255, 63, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    .menu__list {
      @include media-max-mobile {
        background: rgb(244 211 198);
      }
    }
  }
}

.page-header__decoration {
  position: relative;
  overflow: hidden;

  &--page {

    &-index {
      position: relative;
      overflow: hidden;

      &::before,
      &::after {
        content: "";

        position: absolute;
        z-index: -1;

        background-repeat: no-repeat;
        background-size: contain;
      }

      &::before {
        top: -2rem;
        right: 6.5rem;

        width: 9rem;
        height: 9rem;

        background-image: url("~images/common/decor/arrows-white.svg");
        opacity: 0.3;
      }

      &::after {
        bottom: -6rem;
        left: -7rem;

        width: 17.75rem;
        height: 17.75rem;

        background-image: url("~images/common/decor/circles-white.svg");
        opacity: 0.2;
      }

      & .container {

        &::before,
        &::after {
          content: "";

          position: absolute;
          z-index: -1;

          background-repeat: no-repeat;
          background-size: contain;
        }

        &::before {
          top: 7rem;
          left: 4rem;

          width: 8.5rem;
          height: 8.5rem;

          transform: rotate(-135deg);

          background-image: url("~images/common/decor/arrows-white.svg");
          opacity: 0.3;
        }

        &::after {
          bottom: 12.125rem;
          right: -1.938rem;

          width: 11.688rem;
          height: 8.563rem;

          background-image: url("~images/common/decor/dots-white.svg");
          opacity: 0.6;
        }
      }
    }

    &-secondary {

      &::before,
      &::after {
        content: "";

        position: absolute;
        z-index: -1;

        background-repeat: no-repeat;
        background-size: contain;
      }

      &::before {
        bottom: -9.125rem;
        left: -7rem;

        width: 17.75rem;
        height: 17.75rem;

        background-image: url("~images/common/decor/circles-white.svg");
        opacity: 0.2;
      }

      &::after {
        top: 7.688rem;
        right: -1.875rem;

        width: 11.688rem;
        height: 8.563rem;

        background-image: url("~images/common/decor/dots-white.svg");
        opacity: 0.8;

        @include media-max-mobile {
          top: 10.688rem;
          right: -1.875rem;
        }
      }

      & .container {

        &::before,
        &::after {
          content: "";

          position: absolute;
          z-index: -1;

          background-repeat: no-repeat;
          background-size: contain;
        }

        &::before {
          top: 8rem;
          left: 10.75rem;

          width: 5.5rem;
          height: 2.938rem;

          background-image: url("~images/common/decor/bold-arrows-white.svg");
          opacity: 0.3;

          @include media-max-mobile {
            top: 11rem;
            left: 3.75rem;
          }
        }

        &::after {
          bottom: -3.875rem;
          right: 16.688rem;

          width: 6.875rem;
          height: 6.875rem;

          transform: rotate(-135deg);

          background-image: url("~images/common/decor/arrows-white.svg");
          opacity: 0.3;

          @include media-max-mobile {
            bottom: -2.875rem;
            right: 5.688rem;
          }
        }
      }
    }
  }
}
