.page-footer__copyright {
  padding: 1.1rem 0;

  background-color: rgba(255, 255, 255, 0.05);

  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-max-mobile {
      flex-direction: column;
    }
  }
}

.copyright__text {
  @include font(0.75rem, 150%, 400);
  color: $color-white;

  @include media-max-mobile {
    margin-bottom: 1rem;
  }
}

.copyright__icon {
  margin: 0 0.3rem;
  fill: $color-primary;
}

.copyright__button {
  text-transform: uppercase;

  @include font(0.875rem, 150%, 700);
  color: $color-white;

  opacity: 0.6;
}
